{% extends 'base.html' %}

{% block content %}

    <div class="hya2"></div>

        <!-- breadcrumbs -->
        <div class="container">
            <div class="breadcrumbs">
                <a href="{% url 'index' %}"><i class="fas fa-home"></i></a>
                <a href="" class="active">Error 404 page not found</a>
            </div>
        </div>

        <!-- 404 section -->
        <div class="section_padding_b py-3">
            <div class="container py-3">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-9">
                        <div class="page_nfwrap">
                            <!-- 404 graphic  -->
                            <div class="page_nfimg text-center mt-5">
                                {% for img in images %}
                                    {% if img.title == 'error404' %}
                                        <img width="300" src="{{ img.img.url }}"/>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="page_nfcont text-center mt-5">
                                <h4 class="mb-4">THE PAGE YOU'VE REQUESTED IS NOT AVAILABLE</h4>
                                <a href="{% url 'index' %}" class="default_btn">back to home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
