{% extends "base.html" %}
{% load static %}
{% block title %}
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon"/>
    <title>Chain - manage Card</title>
{% endblock %}

{% block makePayment %}
    <a class="modal2_trigger modal_trig text-dark me-2" href="#modal2" style="color:black !important;">Make Payment  &nbsp; <i class="fas fa-credit-card"></i></a>
{% endblock %}

{% block modal2 %}
    <div id="modal2" class="popupContainer" style="display: none">
        <div class="popupHeader">
            {% if request.user.is_verified %}
            <i class="fas fa-arrow-left text-primary gsba back_btn"></i> &nbsp;&nbsp; <span class="header_title">Payment Details</span>
            {% else %}
            <i class="fas fa-arrow-left text-primary gsba back_btn"></i> &nbsp;&nbsp; <span class="header_title">Verification</span>
            {% endif %}
            <span class="modal_close"><i class="fas fa-times"></i></span>
        </div>

        <section id="modal001" class="popupBody">
            {% if request.user.is_verified %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form role="form" id="process_pay">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Beneficiary</label><br/>
                                        <select name="beneficiary" id="beneficiary">
                                            <option value="" selected hidden>select beneficiary</option>
                                            <option value="Amazon">Amazon</option>
                                            <option value="ebay">ebay</option>
                                            <option value="Jumia">Jumia</option>
                                            <option value="Walmart">Walmart</option>
                                            <option value="Namecheap">Namecheap</option>
                                        </select>
                                        <p id="bnerr">.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Card</label>
                                        <select name="card" id="card">
                                            <option value="" selected hidden>select card</option>
                                            {% for card in all_cards %}
                                                {% if request.user == card.user %}
                                                    <option value="{{ card.card_number }}">{{ card.card_number }} &nbsp; &nbsp; - &nbsp; &nbsp; {{ card.card_type }} card</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <p id="ccerr">.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="hidden-xs">Amount</label>
                                        <input name="amount" id="amount" type="text" class="form-control" placeholder="0" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"/>
                                        <p id="amterr">.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <div class="form-group">
                                        <label>CVV</label>
                                        <input name="card_code" id="card_code" type="password" class="form-control" maxlength="3" placeholder="enter CVV" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"/>
                                        <p id="ccderr">.</p>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="form-group">
                                        <label>Transaction pin</label>
                                        <input name="trans_pin" id="transPin" type="password" class="form-control" maxlength="4" placeholder="enter transaction pin" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"/>
                                        <p id="tperr">.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-12">
                                    <input type="submit" value="Process payment" id="processpayBtn" class="btn btn-lg btn-block w-100 border-0" />
                                    <button class="loadingBtn3 btn btn-lg btn-block w-100 border-0" disabled>Processing &nbsp; <i class="fas fa-spinner"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% else %}
                <div class="verify_email d-block text-center">
                <h5 class="text-center primary-color border-bottom pb-2">Please verify your email</h5>
                <p class="fs-6 text-center mt-2 lh-sm">
                    A verification link have been <br>
                    sent to your email please check <br>
                    your email and click on the link to <br>
                    complete your registration.
                </p>
                <a href="{% url 'resend_link' %}" class="btn btn-round btn-md py-1 px-2 mt-4">Resend link</a>
                </div>
            {% endif %}
        </section>

        <section id="modal002" class="popupBody" >
            {% if request.user.is_verified %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form role="form" id="auth_pay">
                            {% csrf_token %}
                            <h6>Unable to authenticate your request</h6>
                            <p>An OTP have been sent to your registered email</p>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="hidden-xs">OTP</label>
                                        <input name="auth_otp" id="auth_otp" type="text" class="form-control" maxlength="6" placeholder="enter OTP" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"/>
                                        <p id="aotperr">.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-12">
                                    <input type="submit" name="auth_otp" value="Submit" id="authBtn" class="btn btn-lg btn-block w-100 border-0" />
                                    <button class="loadingBtn3 btn btn-lg btn-block w-100 border-0" disabled>Authenticating... &nbsp; <i class="fas fa-spinner"></i></button>
                                </div>
                            </div>
                        </form>
                        <div id="loader_wrp">
                            <span id="auth_loader" class="loader2"></span>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="verify_email d-block text-center">
                <h5 class="text-center primary-color border-bottom pb-2">Please verify your email</h5>
                <p class="fs-6 text-center mt-2 lh-sm">
                    A verification link have been <br>
                    sent to your email please check <br>
                    your email and click on the link to <br>
                    complete your registration.
                </p>
                <a href="{% url 'resend_link' %}" class="btn btn-round btn-md py-1 px-2 mt-4">Resend link</a>
                </div>
            {% endif %}
        </section>
    </div>
{% endblock %}

{% block content %}
    <div class="wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row mt-lg-5 pt-lg-5">
                        <div class="d-block d-lg-none mb-4">
                            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                                <img src="{% static "images/cc.png" %}" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-6 align-self-center">
                            <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                                <div class="row">
                                    <div class="col-lg-12 cards-wrp px-3 px-sm-auto">
                                        <h4>Manage your cards</h4>
                                        {% if all_cards %}
                                            {% for card in all_cards %}
                                                {% if request.user == card.user %}
                                                    <div class="row d-flex mt-4 my-3 card_data">
                                                        {% csrf_token %}
                                                        <input type="hidden" class="card_id" value="{{ card.id }}" />
                                                        <div class="col-4">
                                                            <p style="font-weight:400;text-transform:capitalize;">{{ card.card_type }} card</p>
                                                        </div>
                                                        <div class="col-4">
                                                            <p class="">{{ card.card_number }}</p>
                                                        </div>
                                                        <div class="col-4">
                                                            <p class="delete_card"><i class="fas fa-trash-alt text-danger" style="cursor:pointer;"></i></p>
                                                            <p class="spinner"><i class="fas fa-spinner text-primary"></i></p>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <p class="pt-3">No card available</p>
                                        {% endif %}
                                        <div class="my-5">
                                            <button class="modal3_trigger btn-round border-0 shadow" href="#modal3" style="padding:2px 7px;">Add card &nbsp; <i class="fas fa-credit-card"></i></button>
                                        </div>

                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Card</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Beneficiary</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for pay in all_payments %}
                                                <tr>
                                                    <th scope="row">{{ forloop.counter }}</th>
                                                    <td>{{ pay.card }}</td>
                                                    <td>{{ pay.amount }}</td>
                                                    <td>{{ pay.beneficiary }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 d-none d-lg-block">
                            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                                <img src="{% static "images/cc.png" %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
