{% load static %} 
{% comment %} {% static 'images' as baseUrl %} {% endcomment %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="description" content="Get skilled jobs. Hire expert. Learn new skills. Jobs and employment">
        <meta name="author" content="Skilits Developers">
        <meta name="yandex-verification" content="2d2c7c23136d12b7" />
        <title>Skilits</title>
        {% for lg in logo %}<link rel="shortcut icon" href="{{ lg.logo.url }}" type="image/x-icon">{% endfor %}

        <!-- all css -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika:wght@300..700&family=Teko:wght@300..700&display=swap" rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

        <!-- Libraries Stylesheet -->
        {% comment %} <link href="{% static 'libs/animate/animate.min.css' %}" rel="stylesheet"> {% endcomment %}
        {% comment %} <link href="{% static 'libs/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet"> {% endcomment %}
        <link href="{% static 'libs/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

        <!-- Customized Bootstrap Stylesheet -->
        <link href="{% static 'css/bootstrap.min.css" rel="stylesheet' %}">

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom-responsive.css' %}">

        <script type="text/javascript">
            var user = '{{request.user}}'

            function getToken(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            const csrftoken = getToken('csrftoken');
        </script>
    </head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B7SJFHHX68"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-B7SJFHHX68');
    </script>

    {% comment %} {% include 'alerts.html' %} {% endcomment %}

    <body style="overflow-x:hidden;">
        <!-- MESSAGES -->
        {% for message in messages %}
            <div class="msgs_info py-2">
                <p class="dj_err_msg">{{message}}</p>
                <div class="close_error position-absolute text-light fs-5" style="top:5px;right:5px;cursor:pointer;"><i class="fas fa-times"></i></div>
            </div>
        {% endfor %}


        <div class="body_wrap">
            {% block preloader %}
                <!-- Preloader -->
                <div class="preloader">
                    <hr><hr><hr><hr><hr>
                </div>
            {% endblock %}

            <!-- Navbar -->
            {% block nav %}
            <div class="container-fluid position-relative p-0 mx-auto" style="z-index:99999;">
                <nav class="navbar navbar-expand-lg navbar-light navbar-light2 px-3 px-lg-4 mb-1">
                    <a href="{% url 'index' %}" class="navbar-brand p-0">
                        {% for lg in logo %}
                            <img loading="lazy" src="{{ lg.logo.url }}" alt="logo">
                        {% endfor %}
                    </a>
        
                    <!-- search wrapper  -->
                    <div class="search mx-auto me-4">
                        <form hx-get="{% url 'skills_search' %}" hx-target="body" hx-replace-url="true" hx-push-url="true">
                            <input name="q" id="tags" type="search" placeholder="Search..." class="search_input searchhide text-color" style="color:#01377e;">
                        </form>
                        <span id="searchIcon" class="search-icon"><i class="fa fa-search text-color primary-color"></i></span>
                    </div>
        
                    {% comment %} NAV LINKS {% endcomment %}
                    <div class="d-none d-lg-block">
                        <div class="navbar-nav navbar-nav2 ms-auto">
                            <a href="{% url 'add_skill' %}" class="nav-item nav-link my-auto py-0 my-auto" style="color:#01377e;">Add skill</a>
                            <a href="{% url 'hire_skill'%}" class="nav-item nav-link py-0 my-auto" style="color:#01377e;">Hire skill</a>
                            <a href="{% url 'learn_skill' %}" class="nav-item nav-link py-0 my-auto" style="color:#01377e;">Learn skill</a>
                            <div class="position-relative header_icon user my-auto">
                                <div class="icon_wrp text-center myacc ">
                                    <span class="icon p-2">
                                        <a href="{% url 'account' %}"><i class="far fa-user primary-color"></i></a>
                                    </span>
                                </div>
        
                                <!-- my account hover  -->
                                <div class="myacc_cont">
                                    {% if request.user.is_authenticated %}
                                        <div class="ac_join">
                                            <p style="text-transform:capitalize;"><span style="font-weight: normal;">Hello,</span> <span class="mb-2 d-block"></span> {{request.user.full_name}}</p>
                                        </div>
                                        <hr class="mt-3 mb-0 pt-0">
                                        <div class="ac_links">
                                            <a href="{% url 'account'%}" class="myac ">
                                                <i class="far fa-id-card "></i>
                                                Dashboard
                                            </a>
                                            <a href="{% url 'profile_info' %}">
                                                <i class="fas fa-id-badge "></i>
                                                Profile info
                                            </a>
                                            <div class="position-relative">
                                                <a href="{% url 'my_skills' %}">
                                                    <i class="fas fa-tools"></i>
                                                    My skills
                                                </a>
                                                <b class="position-absolute text-color" style="top:2px;right:15px;">{{ total_skills }}</b>
                                            </div>
                                            <div class="position-relative">
                                                <a href="{% url 'saved_skills' %}">
                                                    <i class="fas fa-heart"></i>
                                                    Saved skills
                                                </a>
                                                <b class="position-absolute text-color" style="top:2px;right:15px;">{{ ss_count }}</b>
                                            </div>
                                            <a href="{% url 'verification' %}">
                                                <i class="fas fa-check-circle"></i>
                                                Verification
                                            </a>
                                            <a href="{% url 'premium_services' %}">
                                                <i class="fas fa-crown"></i>
                                                Premium services
                                            </a>
                                        </div>
                                        <div class="account_btn d-flex justify-content-center align-item-center mb-0 mt-3">
                                            <a href="{% url 'logout' %} " class="default_btn w-100 bg-danger py-2">Sign out</a>
                                        </div>
                                    {% else %}
                                        <div class="ac_join ">
                                            <p class="">Hello...Welcome</p>
                                            <hr class="mt-3 pt-0">
                                            <div class="account_btn d-flex justify-content-around ">
                                                <a href="{% url 'register' %}" class="su text-white me-2">Signup</a>
                                                <a href="{% url 'login' %}" class="si text-white ms-2">Login</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
        
                    {% comment %} MOBILE MENU ICON {% endcomment %}
                    <div class="nav-icons-hide me-1 d-lg-none open_menu">
                        <i class="fas fa-bars fs-1 mmi ommi" style="color:#01377e;"></i>
                    </div>
        
                    <!-- mobile menu -->
                    <div class="mobile_menu d-lg-none myacc_cont" style="z-index:9999999;">
                        <div class="ac_join">
                            <p class="">
                                {% if request.user.is_authenticated %}
                                <p style="text-transform:capitalize;"><span style="font-weight: normal;">Hello,</span> <span class="mb-2 d-block"></span> {{request.user.full_name}}</p>
                                {% else %}
                                    Hello...Welcome
                                {% endif %}
                            </p>
                            <i class="fas fa-times mmi cmmi" style="color:#01377e; font-size:22px; font-weight:500px;"></i>
                        </div>
                        <hr class="mt-3 pt-0">
                        <div class="">
                            <div class="account_btn d-flex justify-content-around">
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'account'%}" class="su text-white me-2">Dashboard</a>
                                    <a href="{% url 'logout'%}" class="si text-white bg-danger ms-2">Sign out</a>
                                {% else %}
                                    <a href="{% url 'register' %}" class="su text-white me-2">Signup</a>
                                    <a href="{% url 'login' %}" class="si text-white ms-2">Login</a>
                                {% endif %}
                            </div>
        
                            <div class="ac_links">
                                <ul class="p-0">
                                    <li>
                                        <a href="{% url 'add_skill'%}">Add skill</a>
                                        <a href="{% url 'hire_skill'%}">Hire skill</a>
                                        <a href="{% url 'learn_skill' %}">Learn skill</a>
                                        <a href="{% url 'contact' %}">Advertise with US</a>
                                        <a href="{% url 'faq' %}">FAQ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            {% endblock %}

            {% comment %} BLUR BG {% endcomment %}
            <div class="hya"></div>
            <div class="fhya"></div>


            {% block content %}
            
            {% endblock %}

            
            <!-- Footer Start -->
            <div class="row container-fluid text-white footer mx-auto wow fadeIn" data-wow-delay="0.1s">
                <div class="col-6 col-sm-4 text-center mb-5 mb-sm-0">
                    {% for lg in logo %}
                        <a href="{% url 'index' %}"><img class="" src="{{ lg.logo.url }}"></a>
                    {% endfor %}
                    <div class="d-block d-md-flex mt-3 justify-content-center">
                        <a class="mx-auto mx-md-3 mb-4 mb-md-0 fs-2" href="https://www.facebook.com/profile.php?id=100091661160494"><i class="fab fa-facebook-f text-light"></i></a>
                        <a class="mx-auto mx-md-3 mb-sm-0 fs-2" href="https://www.instagram.com/skilits.skilits?igsh=ZnV2NnZ6NW9ra3F6"> <i class="fab fa-instagram text-light"></i></a>
                    </div>
                </div>
                {% for fl in footerlinks %}
                <div class="col-6 col-sm-4 mx-auto px-0 mb-sm-5 d-flex justify-content-center align-items-start">
                    <div class="justify-content-center align-items-center mb-5 mb-sm-0">
                        <a class="btn btn-link" href="{% url 'about' %}">{{fl.about_us}}</a>
                        <a class="btn btn-link" href="{% url 'contact' %}">{{fl.contact_us}}</a>
                        <a class="btn btn-link" href="{% url 'contact' %}">{{fl.advertise}}</a>
                        <a class="btn btn-link" href="{% url 'privacy_policy' %}">{{fl.pp}}</a>
                        <a class="btn btn-link" href="{% url 'terms_condition' %}">{{fl.tandc}}</a>
                        <a class="btn btn-link" href="{% url 'faq' %}">{{fl.faqs}}</a>
                    </div>
                </div>
                {% endfor %}
                <div class="col-lg-4 text-center d-flex justify-content-center align-items-start">
                    <div class="">
                        {% for cc in customercare %}
                        <div class="mb-4">
                            <h4 class="text-white mb-2 fs-4">{{cc.title}}</h4>
                            <div class="d-flex align-items-center justify-content-evenly cc_links mt-3">
                                <a href="tel:{{cc.phone}}"><i class="fas fa-phone-alt fs-5 primary-color"></i></a>
                                <a href="https://wa.me/{{cc.whatsapp}}?text=Hi Skilits, please I will like to know more about your services"><i class="fab fa-whatsapp fs-5 primary-color"></i></a> 
                                <a href="mailto:{{cc.email}}?"><i class="fas fa-envelope fs-5 primary-color"></i></a>
                            </div>
                        </div>
                        {% endfor %}
                        
                        <h4 class="text-white mb-2 fs-4">Newsletter</h4>
                        <form method="POST" action="">
                            {% csrf_token %}
                            <input class="border-0 outline-0 p-3 text-color" value"" id="newsletterEmail" placeholder="Enter your email" onblur="cnli()">
                            <span class="inle text-danger d-block my-0 py-0 fs-6" style="text-align:left; opacity:0;visibility:hidden;">Invalid email</span>
                            <button type="submit" class="btn primary-background text-white mb-4" id="subscribeNewsletter">Subscribe</button>
                        </form>
                    </div>
                </div>
                {% for fl in footerlinks %}
                <div class="copyright_wrap py-3 mt-5">
                    <p class="copyright_text text-xxxs">{{ fl.copyrights }}</p>
                </div>
                {% endfor %}
            </div>            
            <!-- Back to Top -->
            <a href="#" class="btn btn-md primary-background text-white btn-round back-to-top"><i class="fas fa-arrow-up"></i></a>

        </div>


        <!-- all js -->
        {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js "></script> {% endcomment %}
        {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js "></script> {% endcomment %}
        {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js "></script> {% endcomment %}
        {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js "></script> {% endcomment %}
        {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js " integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin=" anonymous " referrerpolicy="no-referrer "></script> {% endcomment %}
        {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script> {% endcomment %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.6.1/htmx.min.js " integrity="sha512-aUGLiEPPd4KYAKmXba1ZeH3JCtPEo3F8Ay1C7sRpSnOcfsczlP1j14jo3abBaMqJu9QC4pbh8TyKy9ekZ6j7Pw==" crossorigin=" anonymous " referrerpolicy="no-referrer "></script>
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
        <script src="{% static 'js/app.js' %} "></script>
        <script src="{% static 'js/owl.js' %} "></script>
        <script src="{% static 'libs/easing/easing.min.js' %} "></script>
        <script src="{% static 'libs/waypoints/waypoints.min.js' %} "></script>
        {% comment %} <script src="{% static 'libs/owlcarousel/owl.carousel.min.js' %} "></script> {% endcomment %}
        <script src="{% static 'libs/tempusdominus/js/moment.min.js' %} "></script>
        <script src="{% static 'libs/tempusdominus/js/moment-timezone.min.js' %} "></script>
        <script src="{% static 'libs/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %} "></script>

        {% block js %}
        <script>
            function cnli() {
                let x = document.getElementById("newsletterEmail");
                x.value = x.value="";
            } 
        </script>    
        {% endblock %}

    </body>
</html>



